#main {
    background: #FFFFFF;
}

.navigation {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1440px;
    width: 100%;
}

.main-top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header-top {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-end;
}

.header-menu-left {
    position: relative;
    right: 200px;
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
}

.contacts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

.header-menu-right {
    position: relative;
    left: 200px;
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-end;
    color: #FFFFFF;   
}

.lang-uk,
.lang-ru,
.lang-en {
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
}

.lang-uk {
    margin-right: 14px;
}

.lang-ru,
.lang-en {
    margin-right: 6px;
}

.tell {
    color: #FFFFFF;
    text-decoration: none;
}

.menu a {
    font-weight: bold;
    color: #FFFFFF;
    list-style: none;
    text-decoration: none;
}

.menu li {
    display: inline-block;
    padding: 0 5px 0;
}

.title-image-wrap h1 {
    position: absolute;
    top: 340px;
    left: 86px;
    color: #FFFFFF;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
}

.image-wrap {
    position: relative;
    width: 581px;
    height: 800px;
    background-image: url(../images/img-01.svg);
}

.button-main-top a:hover {
    color: #F0145A;
}

.button-main-top {
    position: relative;
    bottom: 70px;
    text-align: center;
    color: #F0145A;
}

.color-button-mid {
    background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.info-main-mid ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    align-content: space-between;
    color: #B3B3BA;
    list-style: none;
    font-size: 38px;
    line-height: 46px;
}

.infosection-main-mid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info-main-mid li {
    padding: 20px 0;
    font-weight: bold;
}

.information-main-mid {
    border-left: 5px solid grey;
    padding-left: 90px;
}

.information-main-mid h2 {
    margin-top: 80px;
    color: #FFFFFF;
    font-size: 30px;
    line-height: 46px;
} 

.information-main-mid span {
    color: #FFFFFF;
    font-size: 19px;
    line-height: 30px;
}

.info-main-mid {
    margin-right: 90px;
}

.title-main-bot {
    margin-top: 40px;
}

.title-main-bot a {
    text-decoration: none;
    color: #24A3FF;
    font-size: 14px;
    line-height: 17px;
}

.title-main-bot h2 {
    font-size: 38px;
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.list {
    margin-bottom: 50px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.list li {
    text-align: left;
}

.infosection-main-bot h3 {
    color: #24A3FF;
}

.infosection-main-bot span {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 26px;
}

.member-block {
    display: flex;
    flex-wrap: wrap;
}

.member-section {
    padding-top: 60px;
    background: #FFFFFF;
}

.text-member {
    flex-grow: 1;
    padding-top: 30px;
    padding-left: 30px;
    background: #F5F5FA;
    border: 1px solid #F5F5FA;
    border-radius: 1px 20px 20px 1px;
}

.text-member a {
    text-decoration: none;
    color: #24A3FF;
    font-size: 14px;
    line-height: 17px;
}

.text-member h3 {
    padding-top: 5px;
    margin: 0;
    font-size: 38px;
    line-height: 46px;
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.about-member {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.name {
    font-size: 16px;
    line-height: 19px;
    color: #B3B3BA;
}

.member-position {
    padding-top: 10px;
    font-size: 14px;
    line-height: 22px;
    color: #B3B3BA;
}

.points {
    padding: 30px 0;
    background: #FFFFFF;
    text-align: center;
}

.links img {
    font-size: 50px;
    padding: 0 10px;
}

.link-company {
    background: #FFFFFF;
}

.link-text a {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    font-weight: bold;
    color: #323264;
    background: #FFFFFF;
}

.table {
    padding-top: 30px;
    background: #FFFFFF;
}

.table tr {
    width: 360px;
    height: 120px;
}

.table td {
    padding: 0;
}

.companies {
    border-spacing: 0;
}

.img-companies {
    margin: 0;
    padding: 0;
    width: 360px;
    height: 120px;
}







     

